body {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
}

header {
    align-self: center;
}

aside {
    align-self: flex-end;
    position: fixed;
    background-color: white;
    padding: 0.5em;
    border-width: thin;
    border-style: solid;
}

main {
    border-bottom-width: medium;
    border-bottom-style: double;
    border-top-width: medium;
    border-top-style: double;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Post {
    margin: 5em 1em;
    flex-grow: 25;
    width: calc(50% - 6em);
    max-width: calc(50% - 6em);
    border-right-width: thin;
    border-bottom-width: thin;
    border-right-style: dotted;
    border-bottom-style: dotted;
}
