body {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
}

header {
    align-self: center;
}

aside {
    align-self: flex-end;
    position: fixed;
    background-color: white;
    padding: 0.5em;
    border-width: thin;
    border-style: solid;
    max-width: 5em;
}

aside ul li {
    margin: 0.2em;
}

main {
    margin-right: 7em;
}

header p {
    text-align: center;
}

.Post footer {
}

.Posts {
    border-bottom-width: medium;
    border-bottom-style: double;
    border-top-width: medium;
    border-top-style: double;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Post {
    margin: 1.5em 1em;
    width: calc(50% - 2.5em);
    max-width: calc(50% - 2.5em);
    border-right-width: thin;
    border-bottom-width: thin;
    border-right-style: dotted;
    border-bottom-style: dotted;
}
