body {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
}

header{
    text-align: center;
}

main > header {
    font-size: 3em;
    font-style: oblique;
    font-weight: bold;
}

aside {
    align-self: flex-end;
    position: fixed;
    background-color: white;
    padding: 0.5em;
    border-width: thin;
    border-style: solid;
    max-width: 5em;
}

aside ul li {
    margin: 0.2em;
}

main {
    margin-right: 7em;
}

header h1 {
    text-align: center;
}

.Posts p {
    text-align: right;
    font-style: italic;
    font-size: 0.65em;
    border-bottom-width: thin;
    border-bottom-style: solid;
    padding: 0.5em 0;

}

.Posts {
    border-left-width: medium;
    border-left-style: double;
    border-right-width: medium;
    border-right-style: double;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Post {
    padding: 0.5em;
    margin: 1.5em 1em;
    width: calc(50% - 3.5em);
    max-width: calc(50% - 3.5em);
    border-width: thin;
    border-style: dotted;
    display: flex;
    flex-direction: column;
}

.Contenuto {
    padding: 0.5em;
}

.Post header, .Post p {
    background-color: #39de35;
}

.form_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form_post #titolo input {
    width: 20em;
}

.form_post #data input {
    width: 10em;
}

.form_post #contenuto input {
    width: 50em;
    height: 30em;
    resize: none;
}

.form_post section p {
    margin: 1.5em 0 0.5em 0;
}

.form_post > input:last-child {
    width: 6em;
    height: 3em;
    margin-top: 3em;

}
