<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/reset.css">
        <link rel="stylesheet" href="/static/style.css">
        <title></title>
    </head>
    <body>
        <aside class="navigation_bar">
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/new_post"><li>Aggiungi Post</li></a>
            </ul>
        </aside>
        <main>
            <header>
                <p>Titolo del blog</p>
            </header>
            <section class="Posts">
                {% for p in post %}
                    <section class="Post">
                        <header>
                            <p>{{ p.title }}</p>
                        </header>
                        <article class="Contenuto">
                            {{ p.content }}
                        </article>
                        <footer>
                            {{ p.data }}
                        </footer>
                    </section>
                {% endfor %}
            </section>
        </main>
    </body>
</html>
