<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/reset.css">
        <link rel="stylesheet" href="/static/style.css">
        <title></title>
    </head>
    <body>
        <header>
            <p>Titolo del blog</p>
        </header>
        <aside class="navigation_bar">
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/new_post"><li>Aggiungi Post</li></a>
            </ul>
        </aside>
        <main>
            {% for p in post %}
                <section class="Post">
                    <header>
                        {{ p.title }}
                    </header>
                    <article class="Contenuto">
                        {{ p.content }}
                    </article>
                    <footer>
                        {{ p.data }}
                    </footer>
                </section>
            {% endfor %}
        </main>
    </body>
</html>
