{% extends 'base.html' %}
{% block main %}
    <form id="form_post_id" class="form_post" action="/submit" method="post" autocomplete="off">
        <section id="titolo">
            <p>Titolo del post</p>
            <input type="text" name="title" required>
        </section id="data">
        <section>
            <p>Data del post</p>
            <input type="text" name="date" required>
        </section>
        <section id="contenuto">
            <p>Contenuto del post</p>
            <textarea name="content" rows="18" cols="80" form="form_post_id" required></textarea>
        </section>
        <input type="submit" value="Invia">
    </form>
{% endblock %}
